-var kaikkiohjelmat = ["VPJt ulalla"  ,"Wesilinjalla"  ,"Souvvi"  ,"Päiväkahvipojat"  ,"Pauli ja Vesku paksuna"  ,"Orava"  ,"Joonaksen Lounashölinää"  ,"In your mama's house"  ,"Nolona!"  ,"Allianssin aamu"  ,"AamuRatto"  ,"Tyttöjen ilta"  ,"Oulu vs. Tampere"  ,"BDS-M"  ,"Kuolleen Musiikin Yö"  ,"Tähdellistä asiaa"  ,"Yömasennus"  ,"Kohuradio" ];
-var sponssit = ["uniresta", "oyy", "tek", "jumpru"]
-var paivat = [ { "order":  "day1", "name": "23.4. Keskiviikko" }, { "order":  "day2", "name": "24.4. Torstai" }, { "order":  "day3", "name": "25.4. Perjantai" }, { "order":  "day4", "name": "26.4. Lauantai" }, { "order":  "day5", "name": "27.4. Sunnuntai" }, { "order":  "day6", "name": "28.4. Maanantai" }, { "order":  "day7", "name": "29.4. Tiistai" }, { "order":  "day8", "name": "30.4. Keskiviikko" } ]
-var paivat = [ { "order":  "day1", "name": "23.4. Keskiviikko" }, { "order":  "day2", "name": "24.4. Torstai" }, { "order":  "day3", "name": "25.4. Perjantai" }, { "order":  "day4", "name": "26.4. Lauantai" }, { "order":  "day5", "name": "27.4. Sunnuntai" }, { "order":  "day6", "name": "28.4. Maanantai" }, { "order":  "day7", "name": "29.4. Tiistai" }, { "order":  "day8", "name": "30.4. Keskiviikko" } ]

-var paivat_simple = [ "day1", "day2", "day3", "day4", "day5", "day6", "day7", "day8" ]

-var paivaohjelma = [{"time": "00:00 - 00:80", "name": "Laadukasta paskaa"}, {"time": "08:00 - 11:00", "name": "Laadukasta paskaa"},                 {"time": "11:00 - 12:00", "name": "Laadukasta paskaa ja paljon kaikkea turhaa tekstiä että varmasti devaajaa vituttaa"}, {"time": "12:00 - 14:00", "name": "Laadukasta paskaa"},  {"time": "14:00 - 17:00", "name": "Laadukasta paskaa"},  {"time": "17:00 - 20:00", "name": "Laadukasta paskaa"}, {"time": "17:00 - 20:00", "name": "Laadukasta paskaa"}]   


//- mixin ohjelma listalle
mixin ohjelmalista(ohjelmat)
  -each ohjelma in ohjelmat
    li
      a(href='#'+ ohjelma +'')=ohjelma

mixin sponsors(sponsors)
  -each sponsor in sponsors
    div.slide
      a(href="#", style="background-image: url(img/sponssit/"+sponsor+".png)") sponsor

//- mixin ohjelma listalle
mixin ohjelmakartta_mobile(paivat)
  -each paiva in paivat
    .panel
      if paiva.order === "day4"
        .panel-heading.today
          h4.panel-title
            a(data-toggle="collapse",data-parent="#"+paiva.order ,href="#"+paiva.order)= paiva.name

      else 
        .panel-heading
          h4.panel-title
            a(data-toggle="collapse",data-parent="#"+paiva.order ,href="#"+paiva.order)= paiva.name
        
      .panel-collapse.collapse(id=paiva.order)
        .panel-body
          +paivaohjelmat(paivaohjelma)



//- paivaojjelma
mixin paivaohjelmat(paivaohjelma)
  ul.list-unstyled.time-list
    li
      span 
        time.date 24.4. Keskiviikko
        time.time 08:00 - 10:00
        span ohjelman nimi
    -each ohjelma in paivaohjelma
      li
        a(href="#")
          time.time= ohjelma.time
          span= ohjelma.name


//- mixin ohjelma kuvauksille
mixin ohjelmainsertti(ohjelmat)
  -each ohjelma in ohjelmat
    .row.ohjelma-kuvaus
      .col-xs-12.col-sm-5(id=ohjelma)
        img(src="img/paivakahvipojat.png", alt="")
      .col-xs-12.col-sm-7
        h2=ohjelma
        p Mörrimöykyt ylös ojista ja radiopäätteen ääreen! On aika päiväkahvien! Wapun syväluotaavin ohjelma pureutuu päivän uutisiin tai yleismaailmallisiin pohdintoihin vähemmän vakavalla otteella. Jokaisella päivällä on myös jokin oma ylevä teemansa.
        p.bg-primary
          strong On air:
          span Joka päivä klo 12-14